@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height: auto; max-height:100%; background: url('@Url.Content("~/Content/img/header.jpg")') repeat center center;">
    <h1 class="animated bounceIn" style="color: white;">ยินดีต้อนรับสู่ 7 Elephant</h1>
    <p class="lead" style="color: white;">ร้านนี้ไฮโซว์มากๆ</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4 animated bounceInDown">
        <h2>ร้านค้า</h2>
        <p>
            ซื้อฉันสิ ซื้อเลย ท้าแล้วนะ
        </p>
        <p><a class="btn btn-default" href="~/Phone">Buy &raquo;</a></p>
    </div>
    <div class="col-md-4 animated bounceInDown">
        <h2>สินค้ายอดฮิต</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 animated bounceInDown">
        <h2>จำนวนลูกค้า</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>